extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  section.cities-section
    h2 Cities
    table
      thead
        tr
          th ID
          th.text-center Country
          th City
          th.text-right Population
      tbody
        each row, i in rows
          tr
            td.fit
              a(href=`/cities/${i + 1}`)= i + 1
            td.text-center.fit= row.CountryCode
            td= row.Name
            td.fit.number= new Intl.NumberFormat().format(row.Population)
