extends layout.pug

block content
  h2 Welcome to my database please choose from the options up above! Please enjoy your time here and greetings from Group 4! which includes Aron,Nuyem,Mohamed,Mustafa and Abdiwahab!